<div class="about row">
    <div class="col-md-12">
       <h2>About me </h2>
        <br/>
        <p>我是一个什么样的人？有时候我也会这样问我自己。</p>
        <p>至少现在还是一名程序员，不管再忙还在坚持搬砖。</p>
        <p>三线城市的一个普通打工人。</p>
        <p>写代码之余，也会有对生活的思考</p>
        <p>自始至终认为敲代码是一门艺术，每个程序员都是艺术家，代码就是伟大的艺术品</p>
        <p>所以敲代码不只是敲代码，而是在完成一件艺术品</p>
        <p>我的代码曾运行在几千万用户的机器上，作为一个程序员，还有什么比这更让人满足的呢？</p>
        <p>如果有，那就是让这个用户数量再扩大 10 倍。</p>


        <br/>
        <p>
            当你老了，回顾一生，就会发觉：什么时候出国读书、什么时候决定做第一份职业、何时选定了对象而恋爱、什么时候结婚，其实都是命运的巨变。
        </p>
        <p>只是当时站在三岔路口，眼见风云千樯，你作出抉择的那一日，在日记上，相当沉闷和平凡，当时还以为是生命中普通的一天。</p>
        <p>但一场巨变，已经发生了，地动山移，浑然不觉，当时是道是寻常。世上的生死荣衰，不就是在空寂之中缘起缘灭的么？</p>
        <br/>  <br/>

        <p>喜欢的一首诗送给大家</p>
        <pre><code>
        儿时仰星光，举手若能摘；

        于今七尺儿，天高不可及
            </code></pre>
        <p>&nbsp;</p>





        <h2>Contact</h2>

        <p><strong>Personal</strong></p>
        <ul>
            <li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
        </ul>




       <p align="center">
         <img src="http://blog.sunzhaowei.top/assets/images/happyCoding.jpg" />
         <br/> 
         微信扫一扫
       </p>

        <!-- Comments -->
       <div class="comment">
         {% include comments.html %}
       </div> 

    </div>
</div>